@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #121418;
}

.ellipse-gradient-blur {
  position: absolute;
  top: 30%;
  left: 60%;
  width: 450px;
  height: 300px;
  background: radial-gradient(circle at center, #8c3fff, #8945ff);
  filter: blur(350px);
  transform: translate(-50%, -50%);
  z-index: -1;
}
